body {

	background-image:url("../images/hang3.jpeg");
	background-repeat: no-repeat;
	background-position: center;
}

#skull-image {
	display: none;
}



#highman {
	text-align: center;
}

#game  {

	margin-left: 5px;
	font-weight: bold;
	width: 300px;
	margin-top: 20px;
	margin-right: 100px;

}


#wrongs {

	margin-left: 40px;
	height: 100px;

	margin-bottom: 60px;
	margin-top: 20px;

}



.inst {

	text-decoration: underline;
	text-align: center;
	margin-top: 20px;


}

.jumbo {

	opacity: 0.5;

}

.paneltitle {

	opacity: 0.5;


}

.play_again {


 margin-left: 50px;


}


.hi {
	opacity: 0.8;
	background-color: lightgrey;
	height: 500px;
	width: 50%;

}

#loss {

	margin-right: 125px;
	margin-bottom: -900px;

}

.center{
	text-align: center;
}
